.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230 230 230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
}

.card:hover {
  border-radius: 10px;
  background-color: rgb(23, 0, 128);
  color: white;
}

.card i {
  font-size: 50px;
}

@media screen and (max-width: 900px)
{
  .cards {
    display: block;
  }
  .card {
    margin-bottom: 25px;
    width:95%;
    box-sizing: border-box;
    margin: auto;
  }
}
