.footer {
  background-color: rgb(23, 0, 128);
  color: white;
  display: flex;
  justify-content: center;
  font-weight: lighter ;
}

.social-links li {
  display: inline-block;
  padding: 0px 10px;
  font-size: 40px;
}

.social-links a:hover {
  color: rgb(255, 123, 0);
}

.social-links a {
  color: white;
}
