.section {
  width: 900px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.section h2 {
  color : rgb(23, 0, 128);
  font-size: 30px;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .section {
    width:100vw;
    padding:0px 20px;
    box-sizing: border-box;
  }
}
